p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-heading {
    color: rgb(204, 18, 18);
    font-size: 26px;
}

.underline {
    height: 4px;
    width: 4rem;
    background-color: #f76c2f;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.underline:hover {
    width: 6rem;
    background-color: #ff944d;
}

.card {
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: pointer;
}

.btn-warning {
    transition: 0.2s;
}

.btn-warning:hover {
    transform: translateY(-5px);
}

.link-hover:hover {
    color: #60a5fa !important;
    text-decoration: underline;
}

.links {
    color: #fff;
    text-decoration: none !important;
}

.links:hover {
    color: gray;
}